.container{
    margin: 10%;
}

h1{
    text-align: center;
}

form{
    font-size: small;
}

div{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

input{
    font-size: large;
    border-radius: 5px;
}

.button{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}